.combatant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 400px));
  gap: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.encounter-info {
  display: flex;
  background-color: #2B2C37;
  gap: 30px;
  padding-left: 30px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.encounter-info p {
  font-size: 1.2em;
  color: #f3f3f3;
}
