.btn {
  flex: 1;
  padding: 6px;
  font-size: 0.75rem;

  background-color: #4A4C5A;
  color: white;

  border: none;
  border-radius: 6px;

  cursor: pointer;
}

.btn:hover {
  background-color: #5a5c6b;
}

.btn--new_combatant {
  font-size: 2.3rem;
  position: absolute;
  bottom: 20px;
  right: 90px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #2B2C37;
}

.btn--new_combatant:hover {
  background-color: #191a20;
}

.btn--next_turn {
  font-size: 1.7rem;
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #2B2C37;
}

.btn--next_turn:hover {
  background-color: #191a20;
}

.btn--new_encounter {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #233d2f;
}

.btn--new_encounter:hover {
  background-color: #1c3126;
}
