#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 16px;
    background-color: #383839;

    width: 100%;
    box-sizing: border-box;
}

.header-text {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
}

.header-button {
    padding: 8px 12px;
    font-size: 0.9rem;

    background-color: #7e7e7e;
    color: #f3f3f3;

    border: 2px solid #444444;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.header-button:hover {
    background-color: #686767;
}